/* ================================================================ */
/*  $7 - Screen Transitions                                         */
/* ================================================================ */
.slide-from-right-enter.slide-from-right-enter-active,
.slide-from-right-leave.slide-from-right-leave-active,
.slide-from-left-enter.slide-from-left-enter-active,
.slide-from-left-leave.slide-from-left-leave-active,
.slide-from-top-enter.slide-from-top-enter-active,
.slide-from-top-leave.slide-from-top-leave-active,
.slide-from-bottom-enter.slide-from-bottom-enter-active,
.slide-from-bottom-leave.slide-from-bottom-leave-active,
.fade-enter.fade-enter-active,
.fade-leave.fade-leave-active {
  transition: transform 300ms ease-out, opacity 300ms ease-out;

  .content{
    transition: transform 300ms ease-out, opacity 300ms ease-out;
  }
}

.fade-enter.fade-enter-active .header {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.fade-enter.fade-enter-active,
.fade-leave.fade-leave-active {
  transition: all 330ms ease-in-out;
  opacity: 0;
}

.fade-enter {
  opacity: initial;
  
  &.fade-enter-active {
    opacity: initial;
  }  
}

.slide-from-right-enter .content,
.slide-from-left-leave.slide-from-left-leave-active .content{
  transform: translateX(100vw) translateZ(0);
}

.slide-from-left-leave.slide-from-left-leave-active .content {
  transform: translateX(30vw) translateZ(0); 
  opacity: 0;
}

.slide-from-right-leave .content,
.slide-from-right-enter.slide-from-right-enter-active .content,
.slide-from-left-leave .content,
.slide-from-left-enter.slide-from-left-enter-active .content {
  transform: translateX(0vw) translateZ(0);
}

.slide-from-right-leave.slide-from-right-leave-active .content,
.slide-from-left-enter .content {
  transform: translateX(-100vw) translateZ(0);
}

.slide-from-right-leave.slide-from-right-leave-active .content {
  transform: translateX(-30vw) translateZ(0);
  opacity: 0;
}

.slide-from-right-enter,
.slide-from-left-leave.slide-from-left-leave-active,
.slide-from-right-leave,
.slide-from-right-enter.slide-from-right-enter-active,
.slide-from-left-leave,
.slide-from-left-enter.slide-from-left-enter-active,
.slide-from-right-leave.slide-from-right-leave-active,
.slide-from-left-enter {
  transform: none;
}

.slide-from-right-leave.slide-from-right-leave-active .header,
.slide-from-left-leave.slide-from-left-leave-active .header {
  opacity: 0;
}

/* Fade Transition */
.fade-enter .content {
  will-change: opacity;
  opacity: 0;
}

.fade-enter.fade-enter-active .content  {
  opacity: 1;
}

.fade-leave.fade-leave-active .header {
  transition: none;
  opacity: 0;
  transform: translateY(-200px);
}

.screen-container.fade-leave {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Bottom and Top Transitions */
.slide-from-bottom-leave.slide-from-bottom-leave-active {
  transform: translateY(-30vh) translateZ(0);
  opacity: 0;
}

.slide-from-top-leave.slide-from-top-leave-active {
  transform: translateY(30vh) translateZ(0);
  opacity: 0;
}