/* $4.3.15 - Patterns - Interaction - Sidebar */
.sidebar {
  background-color: var(--color-neutral-0);
  box-shadow: var(--shadow-l);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: var(--space-none);
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(102%);
  transition: all 130ms ease-in;
  width: 500px;
  will-change: transform;
  z-index: 140;
  -servicestudio-bottom: 20px;
  -servicestudio-height: auto;

  &.sidebar-open {
    transform: none;
    transition: all 330ms ease-out;
    will-change: transform;
  }
}

.landscape .layout-native .sidebar {
  padding-bottom: var(--os-safe-area-bottom);
}

.ios .layout-native .sidebar {
  padding-bottom: var(--os-safe-area-bottom);
  padding-top: var(--os-safe-area-top);
}

.android[data-status-bar-height] .layout-native .sidebar {
  padding-top: var(--status-bar-height);
}

.sidebar:before {
  background-color: transparent;
  content: '';
  left: -24px;
  height: 100%;
  width: 24px;
  position: fixed;
}

.ios.phone.landscape .layout-native .sidebar:before {
  left: calc((var(--os-safe-area-left) + 12px) * -1);
  width: calc(var(--os-safe-area-left) + 12px);
}

.sidebar-header,
.sidebar-content {
  padding: var(--space-base) var(--space-m);
}

.sidebar-content {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.tablet .layout-native .sidebar {
  width: 336px;
}

.phone .sidebar { width: 85vw; }