/* $4.2.3 - Patterns - Content - BlankSlate */
.blank-slate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  &-description {
    color: var(--color-neutral-9);
    padding: var(--space-none) var(--space-base);
  }
  
  &.large {
    height: 100%;
  }
  
  .large &-icon {
    font-size: 120px;
  }
  
  &-actions {
    padding: var(--space-base);
  }
  
  .large &-actions {
    padding: var(--space-xxl) var(--space-base);
  }
  
  &-icon {
    color: var(--color-neutral-6);
    font-size: 70px;
  }
}