/* $4.2.7 - Patterns - Content - CardSectioned */

.card{
  &-sectioned {
    display: flex;
    justify-content: space-between;
    padding: var(--space-none);

    &.flex-direction-row{
      .card-image {
        padding: var(--space-m) var(--space-none) var(--space-m) var(--space-m);

        &.padding-none { padding: var(--space-none); }
      }

      &.card-sectioned-right .card-image {
        -webkit-box-ordinal-group: 3;
        order: 2;
        padding: var(--space-m) var(--space-m) var(--space-m) var(--space-none);

        &.padding-none { padding: var(--space-none); }
      }
    }
  }
  .layout-native &-sectioned {
    padding: 0;
  }
  &-image{
    padding: var(--space-m) var(--space-m) var(--space-none);
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &-title{
    font-size: var(--font-size-h4);
    font-weight: var(--font-semi-bold);
    padding: var(--space-m) var(--space-m) var(--space-none) var(--space-m);
  }

  .tablet &-title {
    font-size: calc(var(--font-size-h4) - 1px);
  }

  .phone &-title {
      font-size: calc(var(--font-size-h4) - 2px);
  }

  .layout-native &-title {
      padding: var(--space-base) var(--space-base) var(--space-none) var(--space-base);
  }

  .card-sectioned.flex-direction-row &-image {
      padding: var(--space-m) var(--space-none) var(--space-m) var(--space-m);
  }

  .layout-native .card-sectioned.flex-direction-row &-image {
      padding: var(--space-base) var(--space-none) var(--space-base) var(--space-base);
  }

  &-sectioned.flex-direction-row &-image.padding-none {
      padding: var(--space-none);
  }

  .layout-native &-sectioned.flex-direction-row &-image.padding-none {
      padding: var(--space-none);
  }

  &-content{
    flex: 1;
    padding: var(--space-m);
  }

  .layout-native &-content {
    padding: var(--space-base);
  }
  
  &-bottom {
      padding: var(--space-none) var(--space-m) var(--space-m);
  }
  
  .layout-native &-bottom {
      padding: var(--space-none) var(--space-base) var(--space-base);
  }

  &-sectioned{
    &-top{
      display: flex;
      flex: 1;
    }
  }
}
