/* $4.4.4   - Patterns - Navigation - SectionIndex */
.section-index {
  border-left: var(--border-size-s) solid var(--color-neutral-4);
  display: flex;
  flex-direction: column;

  &.is--sticky{
    position: sticky;
  }

  & a,
  & a:visited{
    border-left: var(--border-size-m) solid transparent;
    color: var(--color-neutral-8);
    margin-bottom: var(--space-s);
    padding-left: var(--space-base);
  }

  a:hover{
    color: var(--color-neutral-9);
  }

  &-item{
    cursor: pointer;

    &:last-child{
      margin-bottom: var(--space-none);
    }
  }
}

.layout-native .section-index.is--sticky {
  top: calc(var(--header-size) + var(--header-size-content) + var(--top-position) + var(--os-safe-area-top));
}

.android[data-status-bar-height] .layout-native .section-index.is--sticky  {
  top: calc(var(--header-size) + var(--header-size-content) + var(--top-position) + var(--status-bar-height));
}

.ios .layout-native .section-index.is--sticky {
  position: fixed;
}

a.section-index-item.is--active {
  border-left: var(--border-size-m) solid var(--color-primary);
  color: var(--color-neutral-9);
  font-weight: var(--font-semi-bold);
}

.edge .section-index.is--sticky {
  position: fixed;
}

/* Accessibility Styles */
.has-accessible-features .section-index a:focus {
  background-color: transparent;
  box-shadow: 0px 0px 0px 3px var(--color-focus-outer);        
}