/* $4.4.4   - Patterns - Navigation - SectionIndex */
.section-index {
  border-left: var(--border-size-s) solid var(--color-neutral-4);
  display: flex;
  flex-direction: column;

  &.is--sticky{
    position: sticky;
  }

  & a,
  & a:visited{
    border-left: var(--border-size-m) solid transparent;
    color: var(--color-neutral-8);
    margin-bottom: var(--space-s);
    padding-left: var(--space-base);
  }

  a:hover{
    color: var(--color-neutral-9);
  }

  &-item{
    cursor: pointer;

    &:last-child{
      margin-bottom: var(--space-none);
    }
  }
}

a.section-index-item.is--active {
  border-left: var(--border-size-m) solid var(--color-primary);
  color: var(--color-neutral-9);
  font-weight: var(--font-semi-bold);
}

.edge .section-index.is--sticky {
  position: fixed;
}
