/* $4.4.5 - Patterns - Navigation - Tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;

  &.tabs-vertical{
    flex-direction: row;
    flex-wrap: nowrap;

    &.justified .tabs-header {
      height: auto;
    }
    &.tabs-header-right {
      .tabs-content{
        border-left: var(--border-size-none);
        border-right: var(--border-size-s) solid var(--color-neutral-5);
        margin-left: var(--space-none);
        margin-right: -1px
      }
    }
    .tabs-header-tab {
      border-bottom: var(--border-size-none);
      border-right: var(--border-size-m) solid transparent;
      justify-content: flex-start;
      margin-left: var(--space-none);
      padding: var(--space-s) var(--space-m) var(--space-s) var(--space-none);

      &.active{
        border-right: var(--border-size-m) solid var(--color-primary);
      }
    }

    .tabs-content {
      border-left: var(--border-size-s) solid var(--color-neutral-5);
      border-top: var(--border-size-none);
      margin-left: -1px;
      margin-top: var(--space-none);
      padding: var(--space-none) var(--space-m);
    }

    .tabs-header-right{ 
      .tabs-header {
        order: 2;

        .tabs-header-tab {
          border-left: var(--border-size-m) solid transparent;
          border-right: var(--border-size-none);
          padding: var(--space-s) var(--space-none) var(--space-s) var(--space-m);

          &.active {
            border-left: var(--border-size-m) solid var(--color-primary);
          }
        }
      }

      .tabs-content {
        border-left: var(--border-size-none);
        border-right: var(--border-size-s) solid var(--color-neutral-5);
        margin-left: var(--space-none);
        margin-right: -1px;
      } 
    }
  }

  .tabs-header,
  .tabs-header .list{
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &.justified{
    .tabs-header{
      width: 100%;
    }

    [data-block*="TabsHeaderItem"] {
      flex: 1;

      .tabs-header-tab {
        margin-left: var(--space-none);
      }
    }
  }

  .tabs-content{
    border-top: var(--border-size-s) solid var(--color-neutral-5);
    flex-grow: 1;
    margin-top: -1px;
    padding: var(--space-m) var(--space-none);
    position: relative;
    width: 100%;
    z-index: 1;

    .tabs-content-wrapper {
      transform: translateX(0px) translateZ(0px) !important;
    }
  }

  .tabs-content-tab:not(.open){
    display: none;
    -servicestudio-display: block !important;
  }

  &.tabs-vertical .tabs-header,
  &.tabs-vertical .tabs-header .ListRecords{
    flex-direction: column;
    height: 100%;
    width: auto;
    word-break: initial;
  }
}

.tabs-header-tab {
  align-items: center;
  border-bottom: var(--border-size-m) solid transparent;
  color: var(--color-neutral-8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: var(--space-l);
  padding: var(--space-base) var(--space-xs);
  transition: border 150ms linear;

  @at-root [data-block*="TabsHeaderItem"]:first-child & {
    margin-left: var(--space-none);
  }

  &.active{
    border-bottom: var(--border-size-m) solid var(--color-primary);
    color: var(--color-neutral-10);
    font-weight: var(--font-semi-bold);
  }
}

.desktop{ 
  .tabs-header-tab{
    &:hover{
      border-bottom: var(--border-size-m) solid var(--color-neutral-6);
      color: var(--color-neutral-10);
    }

    &.active:hover{
      border-bottom: var(--border-size-m) solid var(--color-primary);
    }
  }

  .tabs{
    &.tabs-vertical{
      .tabs-header-tab{
        &:hover{
          border-right: var(--border-size-m) solid var(--color-neutral-6);
          border-bottom: var(--border-size-none);
        }

        .active:hover{
          border-right: var(--border-size-m) solid var(--color-primary);    
        }
      }

      &.tabs-header-right {
        .tabs-header-tab{
          &:hover {
            border-left: var(--border-size-m) solid var(--color-neutral-6);
          }

          &.active:hover {
            border-left: var(--border-size-m) solid var(--color-primary);
            border-right: var(--border-size-none);
          }
        }
      }
    }
  }
}

