/* ================================================================ */
/*  $3.5 - Page Layout - Login                                      */
/* ================================================================ */
.login-screen {
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: var(--color-neutral-0);
  border-radius: var(--border-radius-soft);
  box-shadow: var(--shadow-l);
  padding: var(--space-xxl);
  min-width: 435px;
  z-index: 2;
}

.login-screen > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.phone .login-form {
  margin: var(--space-none) var(--space-base);
  min-width: auto;
  padding: var(--space-l);
  width: 100%;
}