/* ================================================================ */
/*  $3 - Page Layout                                                */
/* ================================================================ */
.screen-container {
  overflow-y: initial;
  height: auto;
}

html,
body,
#reactContainer,
#transitionContainer,
.screen-container {
  height: 100%;
}

.layout {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &.layout-top,
  &.layout-side:not(.layout-native)  {
    flex-direction: column;
  }
  &.layout-left {
    flex-direction: row;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-native {
  .main {
    width: 100%;
  }
  .desktop &,
  .tablet.landscape &{
    &.aside-expandable,
    &.aside-visible {
      .main{
        width: calc(100% - var(--side-menu-size));
      }
    }
  }
  & .menu-icon {
    margin-right: 0;
  }
}


.desktop .layout-native.aside-visible,
.tablet .layout-native.aside-visible,
.desktop .layout-native.aside-expandable,
.tablet .layout-native.aside-expandable {
  --side-menu-size: 264px;
}

.tablet.landscape .layout-native.aside-visible .main,
.tablet.landscape .layout-native.aside-expandable .main {
  margin-left: var(--side-menu-size);
}

.is-rtl.tablet.landscape .layout-native.aside-visible .main,
.is-rtl.tablet.landscape .layout-native.aside-expandable .main {
  margin-right: var(--side-menu-size);
  margin-left: 0;
}

.tablet.landscape .layout-side.layout-native.aside-expandable.menu-visible .main {
  margin-left: var(--side-menu-size);
}

.is-rtl.tablet.landscape .layout-side.layout-native.aside-expandable.menu-visible .main {
  margin-right: var(--side-menu-size);
  margin-left: 0;
}

.tablet.landscape .layout-side.layout-native.aside-expandable .main {
  margin-left: 0;
}

.is-rtl.tablet.landscape .layout-side.layout-native.aside-expandable .main {
  margin-right: 0;
}

.fixed-header .main {
  /* Space between the main content and the top of the screen, calculated automatically in the Layout JS */
  --header-gutter: var(--header-size);
  padding-top: var(--header-gutter);
}

.phone .layout:not(.layout-native) [class*="ThemeGrid_Width"]:not(.no-responsive) {
  margin: var(--space-none) var(--space-none) var(--space-base) var(--space-none);
  width: 100%;
}

/* ================================================================ */
/*  $3.1 - Page Layout - Header                                     */
/* ================================================================ */

.header {
  background-color: var(--color-neutral-0);
  box-shadow: 0 1px 5px 0 rgba(21, 24, 26, .1);
  z-index: 100;
  -servicestudio-position: relative;
}

.fixed-header .header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.layout-side{
  &.aside-expandable:not(.fixed-header) .main .header {
    margin-left: calc(var(--side-menu-size) * -1);
  }
  .tablet &.aside-expandable:not(.fixed-header) .main .header,
  .phone &.aside-expandable:not(.fixed-header) .main .header {
    margin-left: 0;
  }
  &.aside-expandable.menu-visible:not(.fixed-header) .main .header  {
    margin-left: 0;
  }
}

.header-logo {
  padding-right: var(--space-base);
  .is-rtl & {
    padding-left: var(--space-base);
    padding-right: 0;
  }
}

.header-navigation {
  flex: 1;
}

.layout-native{
  & .header {
    position: sticky;
    top: 0;

    &-top {
      padding: 0 var(--space-l);

      .tablet & {
          padding: 0 var(--space-m);
      }

      .phone & {
        padding: 0 var(--space-base);
      }
    }
    &-title {
      font-size: var(--font-size-h5);
      font-weight: var(--font-regular);
      -servicestudio-text-align: center;
      -servicestudio-width: 100%;

      .tablet & {
          font-size: calc(var(--font-size-h5) - 1px);
      }
      
      .phone & {
          font-size: calc(var(--font-size-h5) - 2px);
       }
    } 
  
    &-left {
        flex: 1;
        margin-right: var(--space-base);
        .is-rtl & {
            margin-left: var(--space-base);
            margin-right: 0;    
        }
    }

    &-right {
        flex: 1;
        margin-left: var(--space-base);
        margin-right: auto;
        display: flex;
        justify-content: flex-end;

        .is-rtl & {
            margin-right: var(--space-base);  
            margin-left: auto;  
        }
    }
  }

  &.hide-header-on-scroll .header {
    top: calc(-1 * (var(--header-size) + var(--os-safe-area-top)));
  }
  & .content-bottom {
    bottom: 0;  
    position: sticky;
    z-index: 100;
  }
} 

.landscape {
  & .layout-native .header,
  & .layout-native:not(.blank) .main-content,
  & .layout-native .bottom-bar-wrapper {
    padding-left: var(--os-safe-area-left); 
    padding-right: var(--os-safe-area-right);
  }  
}

.android[data-status-bar-height] .layout-native.hide-header-on-scroll .header {
  top: calc(-1 * (var(--header-size) + var(--status-bar-height)));
}



.layout-side.layout-native.aside-expandable .main .header {
  z-index: 120;
}

.desktop .layout-side.layout-native.aside-expandable.menu-visible .header,
.tablet.landscape .layout-side.layout-native.aside-expandable.menu-visible .header {
  margin-left: calc(-1 * var(--side-menu-size));
}

.is-rtl.desktop .layout-side.layout-native.aside-expandable.menu-visible .header,
.is-rtl.tablet.landscape .layout-side.layout-native.aside-expandable.menu-visible .header {
  margin-right: calc(-1 * var(--side-menu-size));
  margin-left: 0;
}

.desktop .layout-side.layout-native.aside-expandable .header {
  margin-left: 0;
}

.tablet.portrait .layout-side.layout-native.aside-expandable .main .header,
.phone .layout-side.layout-native.aside-expandable .main .header {
  z-index: 100;
}

.ios .layout-native .header {
  padding-top: var(--os-safe-area-top);
}

.android[data-status-bar-height] .layout-native .header {
  padding-top: var(--status-bar-height);
} 

/* $3.1.1 - Page Layout - Header Top */
.header-top {
  height: var(--header-size);
}

h1.header-title,
h1.header-title :first-child {
    -servicestudio-text-align: center;
    -servicestudio-width: 100%;
}

/*  $3.1.2 - Page Layout - Header Content  */
.header-content {
  height: 100%;
}

.app-logo {
  border-radius: var(--border-radius-soft);
  max-height: var(--header-size);
  max-width: 120px;
  margin-right: var(--space-s);
  .is-rtl & {
    margin-left: var(--space-s);
    margin-right: 0;    
  }
}

.desktop .header-content > [data-block*="ApplicationTitle"] .application-name {
  display: none;
}

.header-content > [data-block*="ApplicationTitle"] .application-name {
  margin-right: var(--space-m);
}

.desktop {
  .aside-expandable .menu-icon,
  .aside-overlay .menu-icon {
    display: flex;
  }
} 

.layout-native .app-menu-icon.back, 
.desktop,
.tablet.landscape .layout-native.aside-visible,
.app-menu-icon.back {
  .menu-icon {
    display: none;
    -servicestudio-display: none;
  }
}
.app-menu-icon:not(.back) .menu-back{
  display: none;
    -servicestudio-display: none
}

.menu-icon {
  display: flex;
  flex-direction: column;
  margin-right: var(--space-m);
  width: 24px;
  height: 100%;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  .is-rtl &{
    margin-left: var(--space-m);
    margin-right: 0;
  }
}


.menu-icon-line {
  background-color: var(--color-neutral-8);
  border-radius: 20px;
  height: 3px;
  margin: 2px 0;
  width: 24px;
}

.menu-back {
  color: var(--color-neutral-8);
}

/* ================================================================ */
/*  $3.2 - Page Layout - Menu                                       */
/* ================================================================ */
.app-menu-content {
  height: 100%;
  -servicestudio-height: auto !important;
}

.app-menu-content{
  .layout & {
    -servicestudio-height: 100% !important;    
    
  }
  .ios & {
    padding-bottom: var(--os-safe-area-bottom);
    padding-top: var(--os-safe-area-top);
  }
  .android[data-status-bar-height] & {
    padding-top: var(--status-bar-height);
  }
  .desktop .layout-side.aside-expandable:not(.fixed-header) & {
    padding-top: var(--header-size);
    top: 0;
  }
}

.app-menu-links {
  flex: 1;
  height: 100%;
  -servicestudio-display: flex;
  -servicestudio-align-items: center;
  .landscape .layout-native & {
    padding-left: calc(var(--os-safe-area-left) / 2); 
  }
  .desktop & {
    display: flex;
    flex-wrap: wrap;
  }
}


.user-info {
  display: flex;
  align-items: center;
  height: 100%;

  div {
    display: inline-flex;
    align-items: center;
  }
}

.submenu {
  height: 100%;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  margin-left: var(--space-base);   
  -servicestudio-height: auto !important;
}

.layout .submenu {
  -servicestudio-height: 100% !important;
}

.submenu-item {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: var(--color-neutral-9);
  transition: all 150ms linear;
}

.submenu-item a {
  align-items: center;
  color: var(--color-neutral-8);
  display: flex;
  height: 100%;
}

.desktop {
  .submenu:hover .submenu-item,
  .submenu-item a:hover {
    color: var(--color-neutral-9); 
  }
}

.tablet .submenu-item,
.phone .submenu-item {
  flex: 1;
}

.submenu-header {
  display: flex;
  padding: 0 var(--space-s);
  align-items: center;
  border-bottom: var(--border-size-m) solid transparent;
  border-top: var(--border-size-m) solid transparent;
  transition: all 150ms linear;
}

.desktop .submenu-header:hover,
.submenu.active .submenu-header {
  border-bottom: var(--border-size-m) solid var(--color-primary);
}

.submenu-icon {
  position: relative;
  display: none;
  margin-left: var(--space-s);
  transform: rotate(-45deg);
  transition: all 150ms linear;
  top: -1px;
  .is-rtl & {
    margin-right: var(--space-s);
    margin-left: 0;
}
}

.submenu.open .submenu-icon {
  transform: rotate(135deg);
  top: 3px;
}

.submenu.is--dropdown .submenu-icon {
  display: inline-flex;
}

.submenu-icon:before {
  content: '';
  border: 1px solid var(--color-neutral-8);
  border-top: 0;
  border-right: 0;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  transition: all 150ms linear;
}

.submenu:hover .submenu-icon:before {
  border: var(--border-size-s) solid var(--color-neutral-9);  
  border-top: 0;
  border-right: 0;  
}

.submenu-items {
  position: absolute;
  background-color: var(--color-neutral-0);
  top: calc(100% - var(--space-s));
  left: 0;
  flex-direction: column;
  padding: var(--space-s) var(--space-none);
  border-radius: var(--border-radius-soft);
  box-shadow: var(--shadow-m);
  border: var(--border-size-s) solid var(--color-neutral-4);
  z-index: 100;
  display: flex;
  min-width: 100px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: all 130ms ease-out;
  -servicestudio-opacity: 1 !important;
  -servicestudio-pointer-events: auto !important;
  -servicestudio-transform: translateY(0px) !important;
  -servicestudio-top: 100% !important;
}

.layout .header .submenu-items {
  -servicestudio-display: none !important;
}

.submenu.open .submenu-items {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0px);
}

.submenu-items a {
  padding: var(--space-s) var(--space-base);
  margin: 0;
  color: var(--color-neutral-8);
  white-space: nowrap;
}

.desktop .submenu-items a:hover {
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-9);
}

.submenu-items a.active,
.desktop .submenu-items a.active:hover,
.submenu.active.open .submenu-item { 
  color: var(--color-primary);
}

.submenu.active .submenu-item,
.desktop .submenu.active .submenu-header:hover .submenu-item,
.submenu.active .submenu-item a {
  color: var(--color-primary);
}

.submenu.active .submenu-icon:before {
  border: var(--border-size-s) solid var(--color-primary);
  border-top: 0;
  border-right: 0;
}

.tablet.landscape .layout-native.aside-expandable .app-menu-overlay,
.desktop .app-menu-overlay {
    display: none;
}

.desktop .aside-overlay .app-menu-overlay {
  display: block;
}

.app-menu-overlay {
  background-color: rgba(0, 0, 0, .25);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: 104;
  pointer-events: none;
  transition: opacity 130ms ease-in;
  will-change: opacity;
  -servicestudio-display: none;
}

.menu-visible .app-menu-overlay {
  opacity: 1;
  transition: opacity 330ms ease-out; 
  pointer-events: auto;
}

.tablet .app-login-info,
.phone .app-login-info {
  padding: var(--space-s) var(--space-m);    
}

.slide-from-left-enter .layout-native .app-menu-overlay,
.slide-from-left-leave .layout-native .app-menu-overlay,
.slide-from-right-enter .layout-native .app-menu-overlay,
.slide-from-right-leave .layout-native .app-menu-overlay,
.slide-from-top-enter .layout-native .app-menu-overlay,
.slide-from-top-leave .layout-native .app-menu-overlay,
.slide-from-bottom-enter .layout-native .app-menu-overlay,
.slide-from-bottom-leave .layout-native .app-menu-overlay,
.fade-enter .layout-native .app-menu-overlay,
.fade-leave .layout-native .app-menu-overlay {
    display: none;
}

/* Styles for links on menu*/
.app-menu-links a {
  color: var(--color-neutral-9);
  -servicestudio-color: var(--color-neutral-9);

  &:hover,
  &.active {
    color: var(--color-primary);
    text-decoration: none;
  }
}

.layout:not(.layout-side) .app-menu-links{

  a {
    align-items: center;
    border-top: var(--border-size-m) solid transparent;
    border-bottom: var(--border-size-m) solid transparent;
    display: inline-flex;
  
    &.active {
      border-bottom: var(--border-size-m) solid var(--color-primary);
    }
  }
  .submenu a {
    border-bottom: none;
  }

}


.phone .layout:not(.layout-side) .app-menu-links a.active,
.tablet .layout:not(.layout-side) .app-menu-links a.active {
  border-bottom: 0;
}

.layout-side,
.menu-visible{
  .app-menu-links{
    a{
      border-left: var(--border-size-m) solid transparent;
      border-top: 0;
      border-bottom: 0;
      margin-left: 0;
      padding: var(--space-s) var(--space-m);
    }
    .submenu-header a {
      padding: 0;
    }
  }
}

.layout-side .app-menu-links{

  a.active {
    border-left: var(--border-size-m) solid var(--color-primary);
  }
  .submenu a {
    border-left: none;
  }
  .submenu-items a {
    padding: var(--space-s) var(--space-base);
  }
}

.has-accessible-features {
  & .app-menu-links a:focus {
    box-shadow:  0px 0px 0px 3px var(--color-focus-outer);
    background-color: transparent;
  }
  & .header a.active:focus {
    color: var(--color-primary);
  }
} 

/* ServiceStudio Preview*/
.layout-side .app-menu-links {
    -servicestudio-align-items: flex-start;
}

.app-menu-content {
    -servicestudio-align-items: center;
}

.app-menu-links:empty {
    -servicestudio-position: relative;    
} 

.app-menu-links:empty:after {    
    -servicestudio-color:var(--color-neutral-7);
    -servicestudio-font-size: var(--font-size-xs);
    -servicestudio-content: "Drag screens to this container to create menu entries";
    -servicestudio-text-align: center;
    -servicestudio-position: absolute;
    -servicestudio-top: 50%;
    -servicestudio-left: 50%;
    -servicestudio-transform: translateX(-50%) translateY(-50%);
}

.layout .app-menu-links:empty:after {    
    -servicestudio-content: "";
}

.aside-expandable .header .ThemeGrid_Container {
    max-width: 100%;
}

.layout-side .header-navigation {
    display: inline-flex;
    align-items: center;
}

.layout-side .main {
    margin-left: var(--side-menu-size);
}

.layout-side.fixed-header .header {
    left: var(--side-menu-size);
    .is-rtl & {
      left: 0;
      right: var(--side-menu-size);
  }
}

.layout-side .app-menu-content {
    background-color: var(--color-neutral-0);
    bottom: 0;
    flex-direction: column;
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    flex-direction: column;
    width: var(--side-menu-size);
    z-index: 102;
}

.is-rtl .layout-side .app-menu-content {
  left: auto;
}

.desktop {
  .aside-expandable .app-menu-content {
    display: none;
  }

  .aside-expandable.menu-visible .app-menu-content {
      display: block;
  }

  .layout-side.aside-expandable .app-menu-content {
      top: var(--header-size);
  }

  .aside-expandable .header {
      z-index: 105;
  }

  .aside-expandable.menu-visible .main {
      margin-left: var(--side-menu-size);
  }
}

.tablet.landscape .layout-native.aside-expandable .app-menu-content{
  display: none;
}

.is-rtl.desktop .aside-expandable.menu-visible .main {
  margin-right: var(--side-menu-size);
  margin-left: 0;
}

.tablet.landscape .layout-native.aside-expandable.menu-visible .app-menu-content {
  display: flex;
  -webkit-transform: none;
          transform: none;
  transition: none;
}

.aside-expandable .main,
.layout-side.aside-overlay .main,
.tablet .layout-side .main,
.phone .layout-side .main {
    margin-left: 0;
}

.is-rtl{
  & .aside-expandable .main,
  & .layout-side.aside-overlay .main,
  &.tablet .layout-side .main,
  &.phone .layout-side .main {
      margin-right: 0;
  }
  & .layout-side.fixed-header.aside-expandable .header,
  & .aside-expandable.menu-visible .header,
  & .layout-side.fixed-header.aside-overlay .header,
  &.tablet .layout-side.fixed-header .header,
  &.phone .layout-side.fixed-header .header {
      left: 0;
      right: 0;
  }
}

.layout-side.fixed-header.aside-expandable .header,
.aside-expandable.menu-visible .header,
.layout-side.fixed-header.aside-overlay .header,
.tablet .layout-side.fixed-header .header,
.phone .layout-side.fixed-header .header {
    left: 0;
}

.aside-overlay .app-menu-content,
.tablet .app-menu-content,
.phone .app-menu-content {
    position: fixed;
    top: 0;
    left: calc(-1 * var(--side-menu-size));
    height: 100%;
    background-color: var(--color-neutral-0);
    width: var(--side-menu-size);
    transform: translateX(0) translateZ(0);
    transition: transform 130ms ease-in;
    will-change: transform;
    flex-direction: column;
    z-index: 105;
}

.menu-visible.aside-overlay .app-menu-content,
.tablet .menu-visible .app-menu-content,
.phone .menu-visible .app-menu-content {
    transform: translateX(var(--side-menu-size)) translateZ(0);
    transition: transform 330ms ease-out;
}

.is-rtl .menu-visible.aside-overlay .app-menu-content,
.is-rtl.tablet .menu-visible .app-menu-content,
.is-rtl.phone .menu-visible .app-menu-content {
    transform: translateX(0) translateZ(0);
    transition: all 330ms ease-out;
    right: 0;
}

.tablet .layout-top .header-navigation,
.phone .layout-top .header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 102;
}

.tablet .app-menu-content,
.phone .app-menu-content {
    flex-direction: column;
    height: 100%;
}

.phone .app-menu-content {
    padding-bottom: var(--os-safe-area-bottom);
    padding-left: var(--os-safe-area-left);
}

.layout-native .app-menu-content:after {
  content:'';
  position: absolute;
  top: calc(var(--header-size) + var(--header-size-content));
  right: -24px;
  width: 24px;
  height: 100%;
  background: transparent;
}

.layout-native.menu-visible .app-menu-content:after {
  pointer-events: none;
}

.ios.landscape .layout-native .app-menu-content:after {
  right: calc((var(--os-safe-area-right) + 12px) * -1);
  width: calc(var(--os-safe-area-right) + 12px);
}

.tablet.landscape .layout-native.aside-visible .app-menu-content,
.tablet.landscape .layout-native.aside-expandable .app-menu-content {
  left: 0;
}

.is-rtl.tablet.landscape .layout-native.aside-visible .app-menu-content,
.is-rtl.tablet.landscape .layout-native.aside-expandable .app-menu-content {
  right: 0;
}

.desktop .layout-native.aside-visible .app-menu-content,
.tablet.landscape .layout-native.aside-visible .app-menu-content,
.desktop .layout-native.aside-expandable .app-menu-content,
.tablet.landscape .layout-native.aside-expandable .app-menu-content {
  box-shadow: var(--shadow-m);
  z-index: 110;
}

.desktop .layout-side.layout-native.aside-expandable .app-menu-content,
.tablet.landscape .layout-side.layout-native.aside-expandable .app-menu-content {
  padding-top: calc(var(--header-size) + var(--header-size-content) + var(--os-safe-area-top));
}

.desktop.android[data-status-bar-height] .layout-side.layout-native.aside-expandable .app-menu-content,
.tablet.android[data-status-bar-height].landscape .layout-side.layout-native.aside-expandable .app-menu-content {
  padding-top: calc(var(--header-size) + var(--header-size-content) + var(--status-bar-height));
}

.desktop .layout-side.layout-native.aside-expandable.hide-header-on-scroll:not(.header-is--visible) .app-menu-content,
.tablet.landscape .layout-side.layout-native.aside-expandable.hide-header-on-scroll:not(.header-is--visible) .app-menu-content {
   padding-top: var(--header-size-content);
}

.layout-side .header-logo,
.tablet .header-logo,
.phone .header-logo {
    padding: var(--space-none) var(--space-m);
    height: var(--header-size);
}

.layout-side .app-login-info,
.tablet .app-login-info,
.phone .app-login-info {
    padding: var(--space-base) var(--space-m);
}

.layout-side .user-info,
.tablet .user-info,
.phone .user-info {
    justify-content: space-between;
}

.layout-side .app-menu-links,
.tablet .app-menu-links,
.phone .app-menu-links {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: var(--space-s);
}

.layout-side .submenu,
.tablet .submenu,
.phone .submenu {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
}

.layout-side .submenu-item,
.tablet .submenu-item,
.phone .submenu-item {
    flex: 1;
}

.layout-side .submenu .submenu-header,
.tablet .submenu .submenu-header,
.phone .submenu .submenu-header {
    border-left: var(--border-size-m) solid transparent;
    padding: var(--space-s) var(--space-m);
    border-top: 0;
    border-bottom: 0;
}

.is-rtl{
  & .layout-side .submenu .submenu-header,
  &.tablet .submenu .submenu-header,
  &.phone .submenu .submenu-header {
    border-left: 0;
    border-right: var(--border-size-m) solid transparent;
  }
  & .layout-side .submenu.active .submenu-header,
  &.tablet .submenu.active .submenu-header,
  &.phone .submenu.active .submenu-header {
      border-left: 0;
      border-right: var(--border-size-m) solid var(--color-primary);
  }
}

.layout-side .submenu.active .submenu-header,
.tablet .submenu.active .submenu-header,
.phone .submenu.active .submenu-header {
    border-left: var(--border-size-m) solid var(--color-primary);
}


.layout-side .submenu-items,
.tablet .submenu-items,
.phone .submenu-items {
    box-shadow: none;
    position: relative;
    top: 0;
    border: none;
    padding: 0;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: none;
    padding: var(--space-xs) var(--space-m);
}

.layout-side .submenu.open .submenu-items,
.tablet .submenu.open .submenu-items,
.phone .submenu.open .submenu-items {
    display: flex;
}

.layout-side .submenu.open .submenu-items,
.tablet .submenu.open .submenu-items,
.phone .submenu.open .submenu-items {
    display: flex;
}

.slide-from{
  &-left-enter .layout-native .app-menu-content,
  &-left-leave .layout-native .app-menu-content,
  &-right-enter .layout-native .app-menu-content,
  &-right-leave .layout-native .app-menu-content,
  &-top-enter .layout-native .app-menu-content,
  &-top-leave .layout-native .app-menu-content,
  &-bottom-enter .layout-native .app-menu-content,
  &-bottom-leave .layout-native .app-menu-content{
    display: none;
  }
}

.fade-enter .layout-native .app-menu-content,
.fade-leave .layout-native .app-menu-content {
    display: none;
}

.desktop,
.tablet.landscape{
  & .slide-from-left-enter .layout-native.aside-visible .app-menu-content,
  & .slide-from-left-leave .layout-native.aside-visible .app-menu-content,
  & .slide-from-right-enter .layout-native.aside-visible .app-menu-content,
  & .slide-from-right-leave .layout-native.aside-visible .app-menu-content,
  & .slide-from-top-enter .layout-native.aside-visible .app-menu-content,
  & .slide-from-top-leave .layout-native.aside-visible .app-menu-content,
  & .slide-from-bottom-enter .layout-native.aside-visible .app-menu-content,
  & .slide-from-bottom-leave .layout-native.aside-visible .app-menu-content,
  & .fade-enter .layout-native.aside-visible .app-menu-content,
  & .fade-leave .layout-native.aside-visible .app-menu-content{
    display: flex;
  }
}

/* ================================================================ */
/*  $3.3 - Page Layout - Content                                    */
/* ================================================================ */
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.main-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.content-breadcrumbs {
    margin-bottom: var(--space-base);
}

.content-top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &-title > div:not([class*="ThemeGrid_Width"]), 
    &-actions > div:not([class*="ThemeGrid_Width"]) { 
      width: 100%;
    }
}

.content-top-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: var(--space-l);
}

    .content-top-title .Title_Links {
        font-size: var(--font-size-s);
        font-weight: var(--font-regular);
    }

.content-top-actions {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: var(--space-l);
    text-align: right;
}

.content-top-title,
.content-top-actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.content-middle {
    position: relative;
    -servicestudio-min-height: 420px;
    .layout-native &{
      height: 100%;
    }
}

.ThemeGrid_Container {
    margin: var(--space-none) auto;
    width: 100%;
}

.header .ThemeGrid_Container {
    padding: var(--space-none) var(--space-xl);
}

.tablet .header .ThemeGrid_Container {
    padding: var(--space-none) var(--space-m)
}

.phone .header .ThemeGrid_Container {
    padding-right: calc(var(--os-safe-area-right) + var(--space-base));
    padding-left: calc(var(--os-safe-area-left) + var(--space-base));
}

.layout .main-content.ThemeGrid_Container {
    padding: var(--space-xl);
}

.tablet .main-content.ThemeGrid_Container {
    padding: var(--space-m);
}

.phone .main-content.ThemeGrid_Container {
    padding-top: var(--space-base);
    padding-right: calc(var(--os-safe-area-right) + var(--space-base));
    padding-bottom: var(--space-base);
    padding-left: calc(var(--os-safe-area-left) + var(--space-base));
}

.layout-native .main-content.ThemeGrid_Container {
  padding: 0;
}

.layout .footer.ThemeGrid_Container {
    padding: var(--space-base) var(--space-xl);
}

.tablet .footer.ThemeGrid_Container {
    padding: var(--space-base) var(--space-m);
}

.phone .footer.ThemeGrid_Container {
    padding-right: calc(var(--os-safe-area-right) + var(--space-base));
    padding-left: calc(var(--os-safe-area-left) + var(--space-base));
}

.phone .content-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.phone .content-top-actions,
.phone .content-top-title {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

/* ================================================================ */
/*  $3.4 - Page Layout - Section                                    */
/* ================================================================ */
.full-width-section .ThemeGrid_Container {
    padding: var(--space-none) var(--space-xl);
}

.full-width-section {
    position: relative;
}

.section-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .section-background:empty {
        -servicestudio-position: relative;
        -servicestudio-min-height: 80px;
    }

    .section-background img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.section-content {
    position: relative;
}
