/* $4.6.2 - Patterns - Utilities - CenterContent * New * */
.center-content {
  align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  height: 100%;
  width: 100%;
  -servicestudio-height: 150px;
}

.center-content-header {
  width: 100%;
}

.center-content-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;

  > div {
    width: 100%;
  }
}

.center-content-bottom {
  width: 100%;
}

/* $4.6.4 - Patterns - Utilities - MarginContainer */
.margin-container {
  padding: var(--space-m);
}

.layout-native .margin-container {
  padding: var(--space-l);
}

.tablet .layout-native .margin-container {
  padding: var(--space-m);
}

.phone .layout-native .margin-container {
  padding: var(--space-base);
}

.main-content > [data-block*="CenterContent"] .center-content {
  -servicestudio-height: 100vh;
}
